.itemCard-image {
  height: 22rem;
  background: var(--clr-grey-200);
}
.galleryCard-image {
  height: 15rem;
  background: var(--clr-grey-200);

}

.card-title {
  font-size: var(--text-550);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0;
}
.itemCard .small-text {
  margin-block: 0.3rem;
  font-size: 13px;
}

@media (min-width: 768px) {
  .itemCard-image {
    height: 35rem;
  }
  .galleryCard-image {
    height: 18rem;
  }
}
