.slider {
  margin-top: var(--space-50);
  margin-inline: auto;
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.prev,
.next {
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.7rem;
  background: transparent;
}
.prev{
    transform: rotate(-180deg);
}
