.e-Image video {
  position: inherit;
  width: 90%;
  height: 500px;
}
.e-Image img{
    width: 100%;
    height: auto;
}
.e-content{
    font-weight: var(--font-light);
}
.e-content h3{
    letter-spacing: var(--l-spacing-300);
    font-weight: var(--font-bold);
}