.map {
  height: 30rem;
  border-radius: 10px;
  background: var(--clr-grey-200);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  animation: 1s loading infinite;
  background-size: cover;
  background-position: center;
  /* box-shadow: inset 5px 0px 4px 4px rgb(88, 88, 88); */
}
.map img {
  object-fit: cover;
}
.map-error iframe {
  display: none;
}

.section-title #rounded-arrow {
  display: none;
}

@media (min-width: 640px) {
  .section-title #rounded-arrow {
    display: initial;
  }
  .section-title #rounded-arrow img {
    width: 3rem;
    height: 1.5rem;
    margin-inline: 0.6rem;
    transform: translateY(3.5px);
  }
  .content-grid {
    margin: auto !important;
  }
}

@media (min-width: 768px) {
  .section-title #rounded-arrow img {
    width: 3.5rem;
    height: 1.8rem;
  }
}
@media (min-width: 992px) {
  .locate-us {
    grid: none;
  }
  .locate-us .section-title,
  .locate-us .section-content {
    margin-top: 0;
  }
}
