.grid-5 {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 3rem; */
  perspective: 9000px;
  height: 50rem;
}
.upcoming .mb-200 {
  margin-bottom: 0 !important;
}
.activity {
  --y-index: -65%;
  height: var(--activity-card-height);
  border-radius: 10px;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.grid-title {
  background: white;
  margin-bottom: 3rem;
}
.activity h3 {
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--l-spacing-300);
}
.activity p {
  font-weight: var(--font-light);
}

.activity + .activity {
  justify-content: space-around;
}
.loveIcon img {
  height: 20px;
}
.tag {
  background: white;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 2rem;
  font-size: 15px;
}

/* background changes */
.activity:nth-child(2) {
  background: var(--clr-grid-2);
}
.activity:nth-child(3) {
  --current-pos: var(--y-index);
  background: var(--clr-grid-3);
  transform: translateY(var(--current-pos));
}
.activity:nth-child(4) {
  --current-pos: calc(var(--y-index) * 2);
  background: var(--clr-grid-4);
  transform: translateY(var(--current-pos));
}
.activity:nth-child(5) {
  --current-pos: calc(var(--y-index) * 3);
  background: var(--clr-grid-5);
  transform: translateY(var(--current-pos));
}

.activity.selected {
  z-index: 5;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(calc(var(--current-pos) + 15%));
}

/* large screen sizes */
@media (min-width: 640px) {
  .grid-title {
    padding: 0;
  }
  .grid-title h3 {
    margin-bottom: 0;
  }
  .activity {
    transform: translateY(0) !important;
  }
}
@media (min-width: 640px) {
  .grid-5 {
    height: fit-content;
    grid-column-gap: 2rem;
  }
}
@media (min-width: 640px) and (max-width: 992px) {
  .grid-5 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .activity:nth-child(5){
    grid-area: 3 / 1 / 4 / 3;
  }
}

@media (min-width: 993px) {
  .grid-5 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .activity:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
  }
}
