:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Poppins", sans-serif;

  /* FONT SIZES DESKTOP */
  /* --text-900: 80px;
  --text-700: 35px;
  --text-650: 25px;
  --text-600: 22px;
  --text-550: 20px; */

  /* FONT SIZES MOBILE */
  --text-900: 40px;
  --text-800: 35px;
  --text-700: 30px;
  --text-650: 25px;
  --text-600: 22px;
  --text-550: 20px;

  /* FONT WEIGHT */
  --font-lighter: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 500;
  --font-bold: 600;
  --font-bolder: 700;

  /* COLORS */
  --clr-grey-200: rgb(202, 202, 202);
  --clr-grey-900: grey;

  --clr-grid-2: #eff8e2;
  --clr-grid-3: #f7f0e7;
  --clr-grid-4: #e2f3f8;
  --clr-grid-5: #ede2fa;

  /* SPACE */
  /* --space-200: 200px;
  --space-100: 100px;
  --space-50: 50px; */

  /* SPACE MOBILE */
  --space-200: 150px;
  --space-150: 100px;
  --space-100: 60px;
  --space-50: 30px;

  /* LETTER SPACING */
  --l-spacing-100: -0.01em;
  --l-spacing-200: -0.02em;
  --l-spacing-300: -0.03em;

  /* Z-INDEX */
  --index-1: 1;
  --index-2: 2;
  --index-3: 3;
  --index-4: 4;
  --index-5: 5;

  /* UTILITIES */
  --container-max_width: ;
  --activity-card-height: 15.625rem;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  /* max-height: 100vh; */
}
.root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* UTILITY CLASSES */
.disable-scroll {
  overflow-y: hidden;
}
.smooth-scroll {
  scroll-behavior: smooth;
}
.bg-primary {
  background: #edf3f7;
}
.bg-secondary {
  background: #fff5e6;
}
.bg-dark {
  background: black !important;
  color: var(--clr-grey-200);
}
.text-white {
  color: white;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.my-auto {
  margin-block: auto;
}
.gap-1 {
  gap: 1rem;
}
.mb-100 {
  margin-bottom: 1rem;
}
.mb-200 {
  margin-bottom: var(--space-200) !important;
}
.mb-150 {
  margin-bottom: var(--space-150) !important;
}
.mx-auto {
  margin: auto;
}
.py-100 {
  padding-block: var(--space-100) !important;
}
.pt-100 {
  padding-top: var(--space-100) !important;
}
.text-center {
  text-align: center;
}

.text-700 {
  font-size: var(--text-700);
}
.text-600 {
  font-size: var(--text-600);
}
.text-650 {
  font-size: var(--text-650);
}
.text-550 {
  font-size: var(--text-550);
}
.font-regular {
  font-weight: var(--font-regular);
}
.font-light {
  font-weight: var(--font-light);
}

/*  */
.section-title {
  font-weight: var(--font-semi-bold) !important;
  font-size: var(--text-650) !important;
  letter-spacing: var(--l-spacing-200);
  line-height: 130.5%;
  /* margin-bottom: 0; */
}
.section-content {
  font-size: var(--text-550);
  font-weight: var(--font-light);
}
.scroll-x {
  overflow-x: scroll !important;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.social-icons {
  display: flex;
  gap: 1rem;
  width: fit-content;
}
.img-div {
  overflow: hidden;
}
.image-fluid {
  width: 100%;
  height: 100%;
}
/* strip margin */
.strip-mt h3,
.strip-mt p {
  margin-top: 0;
}

/* Media queries for different screen sizes */
@media (max-width: 390px) {
  .container {
    /* max-width: var(--container-max_width); */
    /* margin: auto; */
    margin-inline: 1.5rem;
  }
}

@media (min-width: 390px) and (max-width: 640px) {
  .container {
    margin-inline: 12%;
  }
}

/* @media (min-width: 577px){
  .grid-2{
    grid-template-columns: 1fr 1fr;
  }
} */

@media (min-width: 577px) and (max-width: 767px) {
  .container {
    max-width: 540px;
    margin-inline: auto;
  }
}
@media (min-width: 640px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  :root {
    --text-900: 50px;
    --text-650: 30px;
    --space-100: 100px;
    --space-200: 180px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .grid-2 {
    grid-template-columns: 1fr, 1fr;
  }
  .container {
    max-width: 720px;
    margin-inline: auto;
  }
}

@media (min-width: 993px) {
  :root {
    --text-900: 60px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    max-width: 940px;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}

/* UTILITY ANIMATIONS */
@keyframes loading {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f1f1f1;
  }
  100% {
    background-color: transparent;
  }
}
